html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 60ch;
  margin: auto;
  line-height: 1.4;
  color: #2d3748;
}


h1 {
  color: #4299e1;
  font-family: cursive;
}

h1 a {
  text-decoration: none;
}

a {
  color: inherit;
}

img {
  max-width: 55ch;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 3px;
  box-shadow: 0 5px 15px #a0aec0;
}

pre {
  transition: border-color 0.25s;
  font-family: monospace;
  overflow-x: auto;
  background-color: #edf2f7;
  border: 1px solid #cbd5e0;
  border-left: 3px solid #2c5282;
  margin-right: 1rem;
  border-radius: 3px;
  padding: 1rem;
}

pre:hover {
  border-left-color: #3182ce;
}

pre p {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

code {
  font-family: monospace;
  background-color: #edf2f7;
  padding: 0.2rem 0.4rem;
}

aside {
  transition: border-color 0.25s;
  background-color: #fffff0;
  border-left: 3px solid #f6e05e;
  border-radius: 3px;
  padding: 0.5rem 0.75rem;
  margin-right: 1rem;
}

aside:hover {
  transition: border-color 0.25s;
  border-color: #ecc94b;
}

aside p {
  margin: 0.2rem;
}

aside code {
  background-color: #fefcbf;
}

footer {
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #4a5568;
  font-size: 0.875rem;
}

footer div:hover {
  transition: color 0.25s;
  color: #1a202c;
}

.text-light {
  color: #4a5568;
}

.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-bold {
  font-weight: bold;
}

.text-right {
  text-align: right;
}
